# Python
.env
__pycache__/
*.py[cod]
*.so

# Env / IDE
.env*
.envrc
.vscode/
.idea/
.DS_Store

# Poetry
poetry.lock

# Jupyter
.ipynb_checkpoints/

# Secrets
config.py

# Data & logs
results/
logs/
*.pickle
*.parquet
*.csv
*.log
backtest_results.log

# Virtual Environments
.venv/
.venv311/
venv/

# Caches
.pytest_cache/
